.allmanufacturer-container{
    width: 100%;
    padding: 15px;
    min-height: 70vh;
  }
  .allmanufacturer{
      display: flex;
      gap: 10px;
  }
  .allmanufacturerCard{
      min-width: 200px;
      border-radius: 15px;
      text-align: center;
      padding:5px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .allmanufacturerLink{
      font-family: 'Poppins', sans-serif;
  }
  .allmanufacturerLink:hover{
      color: orange;
  }
  @media only screen and (max-width: 600px) {
      .allmanufacturer{
          flex-wrap: wrap;
      }
      .allmanufacturerCard{
          flex: 45%;
          width: 190px;
          height: 200px;
  
      }
  
  }