* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

@font-face {
  font-family: poppins;
  src: url(../src/components/assets/fonts/Poppins-Regular.ttf);
}
body{
  font-family: poppins;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* CSS */
.whiteBtn {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
}

.whiteBtn:hover,
.whiteBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.whiteBtn:hover {
  transform: translateY(-1px);
}

.whiteBtn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
